<AuthorizeView>
    <Authorized>
        <Bar Breakpoint="Breakpoint.Desktop"
             Background="Background.Light"
             ThemeContrast="ThemeContrast.Light">
            <BarToggler />
            <BarMenu>
               
                <BarEnd>

                    <BarItem>
                        <BarDropdown RightAligned>
                            <BarDropdownToggle>
                                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" class="rounded-circle shadow-4"
                                     style="width: 35px;" alt="Avatar" /> @context.User.Identity?.Name!
                            </BarDropdownToggle>
                            <BarDropdownMenu>

                                <BarDropdownItem To="Identity/Account/Manage">
                                    Manage
                                </BarDropdownItem>
                                <BarDropdownDivider />
                                <BarDropdownItem >                        
                                <form method="post" action="Identity/Account/Logout">
                                        
                                        
                                        <Button Color="Color.Primary" Type="ButtonType.Submit"><Icon Name="IconName.Lock" Color="Color.Danger"></Icon> Logout</Button>
                                </form>
                                </BarDropdownItem>
                            </BarDropdownMenu>
                        </BarDropdown>
                      
                    </BarItem>
                  
                </BarEnd>
            </BarMenu>
        </Bar>


    </Authorized>
    <NotAuthorized>

                <Bar Breakpoint="Breakpoint.Desktop"
             Background="Background.Light"
             ThemeContrast="ThemeContrast.Light">

            <BarToggler />
            <BarMenu>
               
                <BarEnd>

                    <BarItem>
                        <Button Color="Color.Primary" Type="ButtonType.Link" To="Identity/Account/Register">Sign up</Button>
                        <Button Color="Color.Secondary" Type="ButtonType.Link" To="Identity/Account/Login">Log in</Button>
                    </BarItem>
                </BarEnd>
            </BarMenu>
        </Bar>


    </NotAuthorized>
</AuthorizeView>