@page "/machines"
@inject IMachineService MachineService
<h1>Machines</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Name
            </th>
            <th>
                DeviceEUI
            </th>
            <th>
               Description
            </th>

            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var machine in machines)
        {
            <tr>
                <td>
                    @machine.Name
                </td>
                <td>
                    @machine.DeviceEUI
                </td>
                <td>
                    @machine.Description
                </td>
                <td>

                  <a asp-page="/Index" asp-route="@machine.Id">Details</a>

                    <a href="machines/@machine.Id"> test</a>
            </td>
            </tr>
        }
    </tbody>
</table>


@code {
    private List<MachineModel>? machines = new List<MachineModel>();
    protected override async Task OnInitializedAsync()
    {

         machines = await MachineService.GetMachines();

    }
}
